@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#red-text,
#red-text1 {
  color: #ec4327;
}

.custom-style {
  border: 1px solid rgb(206, 204, 204);
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("ressources/images/fondo1.1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-header {
  display: flex;
  flex-direction: column;
  background-image: url("ressources/images/fondo1.1.jpg");
  background-repeat: no-repeat;
}

.overlay div {
  display: none;
}

.cont-button {
  margin: 15px 25px;
}

.front {
  padding: 3%;
  padding-bottom: 5%;
  font-family: "lato", sans-serif;
  background-image: url("ressources/images/fondo1.1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.front-about {
  padding: 3%;
  padding-bottom: 5%;
  font-family: "lato", sans-serif;
  background-image: url("ressources/images/fondo1.1.jpg");
  background-repeat: no-repeat;
}

.cont-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.front h1 {
  color: #ec4327;
  font-size: 30px;
}

.front h2 {
  color: #ec4327;
  font-size: 40px;
  font-family: "COCOGOOSE", serif;
  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(ressources/images/fondo1.jpg);
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  animation-name: phase;
  animation-timing-function: ease-in-out;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  margin-bottom: 20px;
}

.info-front {
  border: 5px solid whitesmoke;
  padding: 20px;
  color: #1b1b1c;
  font-size: 100%;
  font-family: "lato", sans-serif;
  line-height: 36px;
  margin-bottom: 25px;
}

.about-info-front {
  border: 2px solid white;
  padding: 30px 20px;
  color: #1b1b1c;
  font-size: 100%;
  font-family: "lato", sans-serif;
  line-height: 36px;
  margin: 40px 0;
  background-color: whitesmoke;
}

.about-info-mail {
  width: 75%;
  color: #1b1b1c;
  font-size: 100%;
  font-family: "lato", sans-serif;
  line-height: 36px;
  margin-bottom: 0.5%;
}

.about-mail {
  color: #5f5f5f;
  font-size: 15px;
  font-family: "lato", sans-serif;
  text-decoration-line: underline;
}

.front h3 {
  color: #595959;
  font-size: 30px;
  font-family: "lato", sans-serif;
  margin-bottom: 7px;
}

.section1 {
  background-image: url(ressources/images/fondo2.jpg);
  background-size: contain;
  background-position: center;
  font-family: "lato", sans-serif;
  padding: 40px;
}

.cont-ti {
  display: flex;
  justify-content: center;
}

.section1 h2 {
  width: auto;
  text-align: center;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 10px;
}

.line {
  display: flex;
  width: 30px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
  border: 1px solid red;
}

.about-line {
  display: flex;
  width: 30px;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid red;
}

.card h3 {
  padding: 0;
  margin: 20px;
  color: #ff5438;
  font-size: 14px;
}

.card p {
  display: flex;
  width: 191px;
  height: 82px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 9px;
  line-height: 15px;
}

.cont-des {
  display: flex;
  justify-content: space-evenly;
}

.title-section2 {
  display: flex;
  justify-content: center;
}

.title-section2 h2 {
  color: #000;
  font-family: "lato", sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
}

.section3 {
  background-image: url(ressources/images/fondo2.jpg);
  padding-bottom: 50px;
}

.title-section3 h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-family: "lato", sans-serif;
  line-height: 70px;
}

.cont-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cont-imgs li {
  flex: 0 0 100px;
  margin: 0 10px;
}

.image {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  color: #000;
  font-size: 14px;
  font-family: "lato", sans-serif;
}

.about-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  color: #000;
  font-size: 14px;
  font-family: "lato", sans-serif;
}

.about-section1 p {
  color: #838383;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.about-footer div p {
  display: flex;
  text-align: center;
  color: #000;
}

.menuDisplay {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cont-animes {
  padding: 0 15%;
}

.single-speaker {
  display: flex;
  width: 500px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-family: "lato", sans-serif;
  align-items: center;
}

.single-speaker .photo {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.single-speaker .photo .pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-speaker .photo .pattern img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-speaker .info {
  margin: 10px;
}

.single-speaker h3 {
  margin: 0;
  font-size: 20px;
}

.single-speaker h4 {
  margin: 0;
  color: #f78c89;
}

.single-speaker hr {
  float: left;
  margin: 10px 0;
  margin-right: 90%;
  width: 10%;
  border: none;
  border-top: 1px solid #ccc;
}

.section2 {
  text-align: center;
}

ul#new-animes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.about-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lato", sans-serif;
}

.about-section1 h2 {
  display: flex;
  text-align: center;
  color: #2c2c2c;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 25px;
  padding: 10px;
}

.about-section1 a {
  display: flex;
  border: 3px solid whitesmoke;
  padding: 5% 15%;
  margin: 30px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.cont div {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.cont1 {
  background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(ressources/images/fondo3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont1,
.cont2 h3 {
  color: white;
  font-size: 50px;
}

.cont .cont1 p {
  color: white;
  font-size: 20px;
}

.cont .cont2 p {
  color: white;
  font-size: 20px;
}

.cont2 {
  background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(ressources/images/fondo4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .single-speaker.d-none-speaker {
    display: none;
  }

  .button-section2 {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .button-section2 button {
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .black-toolbar {
    display: none;
  }

  .logo {
    display: none;
  }

  .cont-menu {
    display: none;
  }

  .button img {
    margin: 2% 2%;
  }

  .linkme li {
    border: 5px solid #ec4327;
    color: #ec4327;
    display: flex;
    width: 140px;
    height: 7px;
    padding: 17px 18px;
    align-items: center;
    text-decoration: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }

  .menu-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 20px;
    width: 90%;
    height: 90%;
    display: none;
    border: 1px solid red;
  }

  .close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
  }

  .menuDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  .menuDisplay li {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .menuDisplay li a {
    font-size: 300%;
    color: white;
    text-decoration: none;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding: 10px;
    margin: 1% 3%;
    background-color: rgba(128, 128, 128, 0.5);
  }

  .mo {
    display: none;
  }

  .cont-des {
    display: flex;
    justify-content: space-evenly;
  }

  .des {
    display: flex;
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-size: 17px;
    background: #ff4f38;
    color: #fff;
    height: 75px;
    width: 350px;
    border-color: #ff6b00;
    align-items: center;
    justify-content: center;
    margin: 10%;
  }

  .des:hover {
    background-color: lightgoldenrodyellow;
    color: #ff6b00;
    border-color: #ff6b00;
  }

  .button-section2 .img {
    margin: 10px;
    width: 12px;
  }

  .about-section1 p {
    padding: 15px 3%;
  }
}

@media screen and (min-width: 768px) {
  .menu-container .menuDisplay {
    display: none;
  }

  .close-button {
    display: none;
  }

  .cont-button {
    display: none;
  }

  .black-toolbar {
    background-color: #3e3e3e;
  }

  .blackT {
    display: flex;
    justify-content: right;
    margin-right: 5%;
  }

  .blackT img {
    margin-top: 3px;
    margin-right: 25px;
    height: 60%;
  }

  .tes {
    color: #fff;
    font-size: 12px;
    font-family: "lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 70px;
    height: 17px;
    margin-top: 3px;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    display: none;
  }

  .toolbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logo {
    margin: 15px;
  }

  .cont-menu {
    display: flex;
    justify-content: center;
    margin-right: 7%;
  }

  .linkme {
    margin-top: 15px;
    margin-right: 30px;
    display: flex;
    width: 56px;
    height: 13px;
    flex-direction: column;
    justify-content: center;
    color: #868686;
    font-size: 15px;
    font-family: "lato", sans-serif;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

  .border {
    border: 5px solid #ec4327;
    display: flex;
    width: 140px;
    height: 7px;
    padding: 17px 18px;
    align-items: center;
    text-decoration: none;
  }

  .border a {
    text-decoration: none;
    color: #ec4327;
  }

  .front {
    padding: 7%;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10vh;
  }

  .card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding: 10px;
    margin: 1% 0%;
    background-color: rgba(128, 128, 128, 0.5);
  }

  .card h3 {
    font-size: 25px;
  }

  .card p {
    font-size: 15px;
    padding: 1px 10px;
  }

  .des {
    display: none;
  }

  .mo a {
    color: white;
    display: inline-block;
    line-height: 1;
    padding-bottom: 3px;
    font-size: 20px;
  }

  .button-section2 {
    display: none;
  }

  .footer p {
    padding: 16px 0;
  }

  .about-section1 p {
    padding: 15px 10%;
  }

  .about-footer div p {
    padding: 16px 0;
  }

  .about-section1 a img {
    width: 310px;
  }
}
